services:
  file-browser:
    labels:
      - "cloud.hutter.docker-compose={{ compose_file_reference }}"
      - "traefik.enable=true"
      - "traefik.http.routers.filebrowser.rule=Host(`usenet.hutter.cloud`) && PathPrefix(`/browser`)"
      - "traefik.http.routers.filebrowser.entrypoints=websecure"
      - "traefik.http.routers.filebrowser.service=filebrowser"
      - "traefik.http.routers.filebrowser.tls=true"
      - "traefik.http.routers.filebrowser.tls.certresolver=r53"
      - "traefik.http.routers.filebrowser.middlewares=oauth-errors@docker,oauth@docker"
      - "traefik.http.services.filebrowser.loadbalancer.server.port=80"
    container_name: usenet-file-browser
    image: {{ usenet_filebrowser_image }}
    command:
      - --port
      - "80"
      - --disableExec
      - --noauth
      - --baseURL
      - /browser
    networks:
      - bridge
    volumes:
      - "{{ usenet_downloads_dir }}:/srv/downloads:ro"
      - "{{ usenet_nfs_tv }}:/srv/library/tv:ro"
      - "{{ usenet_nfs_movies }}:/srv/library/movies:ro"
      - "{{ usenet_nfs_audiobooks }}:/srv/library/audiobooks:ro"
      - "{{ usenet_nfs_ebooks }}:/srv/library/ebooks:ro"
    restart: unless-stopped
networks:
  bridge:
    name: "{{ network }}"
    external: true
