services:
  radarr:
    labels:
      - "cloud.hutter.docker-compose={{ compose_file_reference }}"
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`usenet.hutter.cloud`) && PathPrefix(`/radarr`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.service=radarr"
      - "traefik.http.routers.radarr.tls=true"
      - "traefik.http.routers.radarr.tls.certresolver=r53"
      - "traefik.http.routers.radarr.middlewares=oauth-errors@docker,oauth@docker"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"
    container_name: usenet-radarr
    image: {{ usenet_radarr_image }}
    environment:
      TZ: "Europe/Zurich"
      PUID: "0"
      PGID: "0"
    networks:
      - bridge
    volumes:
      - "{{ usenet_data_dir }}/radarr:/config"
      - "{{ usenet_nfs_movies }}:/movies"
      - "{{ usenet_downloads_dir }}:/downloads"
    restart: unless-stopped
networks:
  bridge:
    name: "{{ network }}"
    external: true
