#!/bin/bash
set -e

# delete old files
find "{{ usenet_downloads_dir }}" -mindepth 2 -type f -mtime +3 -delete
find "{{ usenet_incomplete_downloads_dir }}" -mindepth 2 -type f -mtime +1 -delete

# delete empty directories in downloads
find "{{ usenet_downloads_dir }}" -mindepth 2 -empty -type d -delete
