services:
  mini-qr:
    labels:
      - "cloud.hutter.docker-compose={{ compose_file_reference }}"
      - "traefik.enable=true"
      - "traefik.http.routers.mini-qr.rule=Host(`fsrg-qr.hutter.cloud`)"
      - "traefik.http.routers.mini-qr.entrypoints=websecure"
      - "traefik.http.routers.mini-qr.service=mini-qr"
      - "traefik.http.routers.mini-qr.tls=true"
      - "traefik.http.routers.mini-qr.tls.certresolver=r53"
      - "traefik.http.services.mini-qr.loadbalancer.server.port=5000"
    container_name: mini-qr
    build:
      context: "{{ mini_qr_build_dir }}"
      dockerfile: Dockerfile
    networks:
      - bridge
    restart: unless-stopped
networks:
  bridge:
    name: "{{ network }}"
    external: true
