services:
  pihole:
    labels:
      - "cloud.hutter.docker-compose={{ compose_file_reference }}"
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.hutter.cloud`)"
      - "traefik.http.routers.pihole.entrypoints=web"
      - "traefik.http.routers.pihole.service=pihole"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.services.pihole.loadbalancer.server.scheme=http"
    container_name: pihole
    image: {{ image }}
    networks:
      - bridge
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8088:80/tcp"
    environment:
      TZ: "Europe/London"
      FTLCONF_webserver_api_password: "{{ admin_password }}"
      FTLCONF_dns_listeningMode: "all"
    volumes:
      - "{{ bind_dir_backup }}:/backup"
      - "{{ bind_dir_etc }}:/etc/pihole"
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped
networks:
  bridge:
    name: "{{ pihole_compose_network_name }}"
    external: true
