#!/bin/bash
set -e

# download the latest available image
# and restart container to ensure we are up to date

cd "{{ pihole_compose_dir }}"
/usr/bin/docker compose pull
/usr/bin/docker compose up -d --remove-orphans
