---
- name: Ensure awscli is installed
  ansible.builtin.apt:
    name: awscli
    state: present

- name: Copy dns-updater script
  ansible.builtin.template:
    src: dns-updater.sh.j2
    dest: /usr/local/bin/dns-updater.sh
    owner: root
    group: root
    mode: "0750"

- name: Run dns-updater once
  ansible.builtin.command: /usr/local/bin/dns-updater.sh
  changed_when: true

- name: Ensure dns-updater cronjob is set
  ansible.builtin.cron:
    name: "dns updater"
    weekday: "*"
    minute: "0"
    hour: "*"
    job: "/usr/local/bin/dns-updater.sh > /tmp/dns-updater.log 2>&1"
    user: root
    cron_file: dns-updater
